// Utils
@import "./utils/breackpoints";
@import "./utils/variables";
@import "./utils/visually-hidden";

// Base
@import "./base/reset";
@import "./base/normalize";

// Components
@import "./components/page-header/page-header";
@import "./components/shared/logo-header";
@import "./components/page-header/site-nav";
@import "./components/page-header/auth-nav";
@import "./components/page-header/net";

@import "./components/hero";
@import "./components/backdrop";
@import "./components/shared/button";
@import "./components/form-modal";
@import "./components/shared/button-form-modal";
@import "./components/section";
@import "./components/peculiarities";
@import "./components/development";
@import "./components/team";
@import "./components/client";

@import "./components/page-footer/page-footer";
@import "./components/shared/logo-footer";
@import "./components/page-footer/address";
@import "./components/page-footer/basement-social";
@import "./components/page-footer/form";
@import "./components/shared/button-footer-form";

@import "./components/page-portfolio/conteiner-section";
@import "./components/page-portfolio/row";
@import "./components/page-portfolio/services";