/* Auth-nav */
/*.auth-nav {
    display: flex;
    align-items: center;
}

.auth-nav__item {
    display: block;
    align-items: center;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.auth-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    max-height: 80px;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: var(--primery-text-color);

    transition: color 250ms var(--timing-function), 
                fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }            
}

.auth-nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    margin-right: 10px;
    height: 80px;
    fill: inherit;
}*/



/* ::before */
/*
.auth-nav .item::before {
    content: '';
    display: flex;
    margin-right: 10px;
    height: 12px;
    width: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.auth-nav .item.icon-envelope::before {
    background-image: url(../images/envelope.svg);
}

.auth-nav .item.icon-vector::before {
    background-image: url(../images/Vector.svg);
}
*/



/* Auth-nav */
.auth-nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }

    @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.auth-nav__item {
    margin: 0;
    padding: 0;
    
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    @media screen and (min-width: $tablet) {
        display: block;
        align-items: center;
    }

    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.auth-nav__link {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    max-height: 80px;

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: var(--primery-text-color);

    transition: color 250ms var(--timing-function), 
                fill 250ms var(--timing-function);

    @media screen and (min-width: $mobile) and (max-width: 767px) {
        padding-bottom: 32px;
        

        &:hover,
        &:focus {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        }
    }

    @media screen and (min-width: $tablet) {
        &:hover,
        &:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
            font-size: 14px;
            line-height: 1.14;
        }   
    }

    @media screen and (min-width: $desktop) {
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        max-height: 80px;
    }         
}

.auth-nav__icon {
    padding: 0;
    border: 0;
    margin-right: 8px;
    height: 14px;
    fill: inherit;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        height: 80px;
    }
}

