/* Header */
/*.header {
    background-color: var(--title-white-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--primery-bgr-color);
}

.mail-nav {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    height: 80px;
}

.conteiner-nav {
    display: flex;
    align-items: center;
}

.contriner-auth {
    display: flex;
    margin-left: auto;
    align-items: center;
}*/




/* Header */
.header {
    position: relative;
    background-color: var(--title-white-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--primery-bgr-color);
}

.mail-nav {
    /*display: flex;
    align-items: center;*/
    /*max-width: 1230px;
    height: 80px;*/
    min-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-widht: $mobile) {
        width: $mobile;
    }

    @media screen and (min-widht: $tablet) {
        width: $tablet;
    }

    @media screen and (min-widht: $desktop) {
        width: $desktop;
    }
}

.conteiner-nav {
    /*display: flex;
    align-items: center;*/
}

.contriner-auth {
    /*display: flex;
    margin-left: auto;
    align-items: center;*/
}

/* Кнопка для мобилки */
.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .menu-button__icon-cross {
        display: none;
    }

    &.is-open .menu-button__icon-cross {
        display: block;
    }

    &.is-open .menu-button__icon-menu {
        display: none;
    }
}

.menu-conteiner {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    width: 480px;
    height: 796px;

    background-color: red;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    display: inline-block;

    &.is-open {
        display: block;
    }
}
