/* Site-nav */
/*.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__item {
    position: relative;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link.current{
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4px;
    
        background: var(--accent-color);
        border-radius: 2px;
    }
}
*/

/* Site-nav */
.site-nav {
    /*display: flex;*/
    /*margin-left: 93px;*/
}

.site-nav__item:not(:last-child) {
    /*margin-right: 50px;*/
}

.site-nav__item {
    /*position: relative;*/
}

.site-nav__link {
    /*display: block;*/
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link.current{
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4px;
    
        background: var(--accent-color);
        border-radius: 2px;
    }
}
