/* Site-nav */
/*.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__item {
    position: relative;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link.current{
    color: var(--accent-color);

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4px;
    
        background: var(--accent-color);
        border-radius: 2px;
    }
}
*/

/* Site-nav */
.site-nav {
  display: flex;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 270px;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin-left: 88px;
    margin-right: 84px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.site-nav__item {
  @media screen and (min-width: $tablet) {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  display: block;
  padding-bottom: 32px;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: $tablet) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.site-nav__link.current {
  color: var(--accent-color);

  @media screen and (min-width: $tablet) {
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 4px;

      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}
