.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;

    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-height: 581px;
    min-width: 528px;
    padding: 40px;

    background-color: var(--title-white-color);

    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms var(--timing-function);
}

.button__close {
    position: absolute;
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background: var(--title-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;

    &:focus {
        border: 1px solid #2196F3;
        border-radius: 50%;
    }
}

.button__svg {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 250ms var(--timing-function);

    width: 18px;
    height: 18px;

    .button__close:focus > & {
        fill: var(--accent-color);
    }
}

