/* Постоянные клиенты */
.client {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    margin: -15px;
  }
}

.client__item {
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-basis: calc(100-2 * 30px / 2);
    margin: 15px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-basis: calc(100-3 * 30px / 3);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background: var(--title-white-color);
  text-align: center;
  fill: #afb1b8;

  transition: border 250ms var(--timing-function), border-radius 250ms var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    fill: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 92px;
  }
}

.client__icon {
  fill: inherit;

  &.group-1 {
    width: 41px;
    height: 46.7px;
  }

  &.group-2 {
    width: 40px;
    height: 52px;
  }

  &.group-3 {
    width: 43.46px;
    height: 41.18px;
  }

  &.group-4 {
    width: 84.44px;
    height: 40.62px;
  }

  &.group-5 {
    width: 62.54px;
    height: 45.43px;
  }

  &.group-6 {
    width: 93.79px;
    height: 43.93px;
  }
}
