/* Form */
.form-modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and (min-width: $desktop) {
    line-height: 1.15;;
  }
}

.form-modal__groop {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 10px;
}

.form-modal__groop label {
  display: flex;
  margin-right: auto;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form-modal__groop input {
  margin: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }

  @media screen and (min-width: $desktop) {
    width: 448px;
  }
}

textarea {
  resize: none;
}

.form-modal__groop textarea {
  padding: 12px 16px;
  margin: 0;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (min-width: $desktop) {
    width: 448px;
  }
}

.form-modal__svg {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);

  .form-modal__groop input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-field {
  margin-top: 20px;

  @media screen and (max-width: 1199px) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (max-width: 479px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.modal-field__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  text-align: left;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-field__label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 479px) {
    margin-right: 8px;
  }
}

.modal-field__icon {
  fill: transparent;
}

.modal-field__input:checked + .modal-field__label span {
  background-color: var(--accent-color);
  border: none;
}

.modal-field__input:checked + .modal-field__label .modal-field__icon {
  fill: var(--title-white-color);
}
