/* Form */
/*.form-modal {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.form-modal__title {
    margin-top: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-modal__groop {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 10px;
}

.form-modal__groop label {
    display: flex;
    margin-right: auto;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
}

.form-modal__groop input {
    margin: 0;
    padding-left: 42px;
    width: 448px;
    height: 40px; 
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
}

textarea {
    resize: none;
}

.form-modal__groop textarea {
    padding: 12px 16px;
    margin: 0;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-modal__svg {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);

    .form-modal__groop input:focus + & {
        fill: var(--accent-color);
    } 
}

.form-modal__agreement {
    position: relative;
    display: flex;
    margin-top: 27px;
    margin-left: 11px;
}

.form-modal__input {
    position: absolute;
    appearance: none;
    width: 100%;
    margin: 0;
    font: inherit;
}

.form-modal__text {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);

    transition: color 250ms var(--timing-function);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primery-text-color); 
}

.form-modal__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.form-modal__icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    transition: color 250ms var(--timing-function);

    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;

    .form-modal__agreement:focus-within > & {
        background-color: var(--accent-color);
        border: 2px solid transparent;
        border-radius: 4px;
    }
}
*/

/* Form */
.form-modal {
    width: 529px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-modal__title {
    margin-top: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-modal__groop {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 10px;
}

.form-modal__groop label {
    display: flex;
    margin-right: auto;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
}

.form-modal__groop input {
    margin: 0;
    padding-left: 42px;
    width: 370px;
    height: 40px; 
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }

    @media screen and (min-widht: $desktop) {
        width: 448px;
    }
}

textarea {
    resize: none;
}

.form-modal__groop textarea {
    padding: 12px 16px;
    margin: 0;
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (min-widht: $desktop) {
        width: 448px;
    }
}

.form-modal__svg {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);

    .form-modal__groop input:focus + & {
        fill: var(--accent-color);
    } 
}

.form-modal__agreement {
    position: relative;
    display: flex;
    margin-top: 27px;
    /*margin-left: 11px;*/
}

.form-modal__input {
    position: absolute;
    appearance: none;
    width: 100%;
    margin: 0;
    font: inherit;
}

.form-modal__text {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);

    transition: color 250ms var(--timing-function);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primery-text-color); 
}

.form-modal__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.form-modal__icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    transition: color 250ms var(--timing-function);

    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;

    .form-modal__agreement:focus-within > & {
        background-color: var(--accent-color);
        border: 2px solid transparent;
        border-radius: 4px;
    }
}







