/* Шапка */
/*.overlay {
    min-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--title-text-color);
}


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    color: var(--title-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
*/

/* Шапка */
.overlay {
  min-height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/overlay-mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--title-text-color);

  @media screen and (min-width: $desktop) {
    min-height: 600px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('../images/hero/overlay-mobile-2x.jpg');
    }
  }

  @media screen and (min-width: 481px) {
    background-image: url('../images/hero/overlay-tablet-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/hero/overlay-tablet-2x.jpg');
      }
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/hero/overlay-desktop-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url('../images/hero/overlay-desktop-2x.jpg');
      }
    }
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: 364px;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
