/* Peculiarities */
/*.peculiarities {
    display: flex;
}

.peculiarities__list {
    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.peculiarities__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--accent-bgr-color);
    border-radius: 4px;
}

.peculiarities__svg {
    width: 70px;
    height: 70px;
}
*/

/* ::before */

/*.features .list::before {
    content: "";
    display: block;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-bgr-color);
} 

.list.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.list.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.list.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.list.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}
*/


/*.peculiarities__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.peculiarities__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
}
*/

/* Peculiarities */
.peculiarities__list {
    display: block;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

}

.peculiarities__item {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (max-width: $desktop) {
        width: 354px;
        flex-basis: calc(100-2 * 30px / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.peculiarities__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: var(--accent-bgr-color);
    border-radius: 4px;

    @media screen and (max-width: $desktop) {
        flex-basis: 50%;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}

.peculiarities__svg {
    width: 70px;
    height: 70px; 
}

.peculiarities__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    @media screen and (min-width: $tablet) {
        text-transform: uppercase;
        text-align: left;
    }

    @media screen and (min-width: $desktop) {
        text-align: center;
    }
}

.peculiarities__text {
    line-height: 1.71;

    @media screen and (min-width: $desktop) {
        margin-top: 0;
        margin-bottom: 0;
    }
}
