/* Team */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bgr-color);

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.team__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-white-color);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-basis: calc(100-2 * 30px / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.card-set__img {
  width: 450px;
  height: 460px;

  @media screen and (min-width: $tablet) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 260px;
  }
}

.card-set__meta {
  padding-top: 30px;
  padding-bottom: 24px;
}

.card-set__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-set__job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.network {
  display: flex;
  padding: 0;
  width: 206px;
  list-style: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    margin: 16px 32px 0px 32px;
  }
}

.network__item {
  /*display: flex;*/
  height: 44px;
  width: 44px;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  text-align: center;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--title-white-color);
  }
}

.network__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
