/* Team */
/*.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--accent-bgr-color);
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team__list {
    display: flex;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-white-color);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.card-set__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-set__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card-set__job {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
}

.network {
    display: flex;
    padding: 0;
    margin: 16px 32px 0px 32px;
    width: 206px;
    list-style: none;
    align-items: center;
}

.network__item {
    display: flex;
    height: 44px;
    width: 44px;
    align-items: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.network__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    color: #AFB1B8;
    text-align: center;

    transition: background-color 250ms var(--timing-function),
                color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--title-white-color);
    }
}

.network__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
}
*/

/* Team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--accent-bgr-color);
}

.team__title {
    /*margin-top: 0;
    margin-bottom: 50px;*/

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team__list {
    /*display: flex;*/
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-white-color);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.card-set__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-set__title {
    /*margin-top: 0;
    margin-bottom: 10px;*/
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card-set__job {
    /*margin-top: 0;
    margin-bottom: 0;*/
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
}

.network {
    /*display: flex;*/
    padding: 0;
    /*margin: 16px 32px 0px 32px;*/
    width: 206px;
    list-style: none;
    align-items: center;
}

.network__item {
    /*display: flex;*/
    height: 44px;
    width: 44px;
    align-items: center;

    &:not(:last-child) {
        /*margin-right: 10px;*/
    }
}

.network__link {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    padding: 0;
    border: 0;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    color: #AFB1B8;
    text-align: center;

    transition: background-color 250ms var(--timing-function),
                color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--title-white-color);
    }
}

.network__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
}