body {
    color: var(--primery-text-color);
    background-color: var(--title-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

