/*.address__text {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--title-white-color);
    line-height: 1.71;
    font-style: normal;
}

.address__link {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__list {
    margin-top: 9px;
}

.address__list {
    margin-top: 9px;
}

br {
    display: none;
}
*/

.address__text {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--title-white-color);
    line-height: 1.71;
    font-style: normal;
    text-align: center;
}

.address__link {
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__list {

    @media screen and (min-width: $desktop) {
        margin-top: 9px;
    }
    
}

.address__item {

    @media screen and (max-width: $desktop) {
        margin-top: 8px;
        text-align: center;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 0;
        text-align: left;
    }
}

br {
    display: none;
}