.basement-social {
    display: block;
    margin-right: 93px;
    margin-top: 12px;
    margin-bottom: 40px;
}

.basement-social__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-white-color);
}

.basement-social__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center
}

.basement-social__item {
    height: 44px;
    width: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.basement-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    color: var(--title-white-color);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.basement-social__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
}