/* FORM */
.form {

  @media screen and (max-width: 479px) {
    width: 290px;
  }

  width: 450px;
  padding: 0;
  margin: 0 auto;

  @media screen and (min-width: $desktop) {
    width: 570px;
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

.form__title {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
    text-align: left;
  }
}

.form__flex {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.form__field {
  width: 450px;
  height: 50px;

  @media screen and (min-width: $desktop) {
    display: flex;
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.form__field input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 0px 15px 16px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--title-white-color);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.form__icon {
  width: 24px;
  height: 24px;
  fill: var(--title-white-color);

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
