/* Footer */
/*.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.basement {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
}

.footer .basement-conteiner {
    padding-left: 0;
    margin-right: 70px;
}
*/




/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.basement {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
        display: flex;
        align-items: center;
    }
}

.footer .basement-conteiner {
    padding-left: 0;

    @media screen and (min-width: $desktop) {
        margin-right: 70px;
    }
}

.wrap {
    
    @media screen and (max-width: $desktop) {
        display: flex;
        padding-left: 200px;
    }
}
