/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.basement {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
}

.footer .basement-conteiner {
    padding-left: 0;
    margin-right: 70px;
}
